/* styles.css */
/* Custom styles if necessary */
.hidden {
    display: none;
}

#mobile-menu a {
    text-align: left;
    width: 100%; /* Full-width links for easier touch targets */
}

body, h1, h2, h3, h4, h5, h6, p, li, a { /* Apply to all relevant elements */
    font-family: 'Montserrat', sans-serif;
}