/* styles.css */
/* Custom styles if necessary */
.hidden {
    display: none;
}

.mobile-menu {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu .close-menu {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    align-items: end;
}

.background-gym {
    background-image: url('{{ site.url }}{{ site.baseurl }}/assets/barbellImage.png');
    background-repeat: repeat;
    background-size: cover; /* Cover for larger screens */
    opacity: 0.5; 
}

@media (max-width: 768px) { /* Tailwind breakpoint for 'md' */
    .background-gym {
        background-size: auto; /* Allows repeating on smaller screens */
        background-repeat: repeat;
    }
}

body, h1, h2, h3, h4, h5, h6, p, li, a { /* Apply to all relevant elements */
    font-family: 'Montserrat', sans-serif;
}