<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-white text-lg">Khateryna Khomych - instruktor fitness</div>
        <button class="text-white md:hidden" id="menu-toggle">☰</button> <!-- Hamburger Icon -->
        <div class="flex space-x-4 items-center" id="menu">
            <a href="{{ site.url }}{{ site.baseurl }}/" data-target="index" class="nav-link text-white hover:bg-gray-600 px-3 py-2 rounded">O mnie</a>
            <a href="{{ site.url }}{{ site.baseurl }}/achievements" data-target="achievements" class="nav-link text-white hover:bg-gray-600 px-3 py-2 rounded">Osiągnięcia</a>
            <a href="{{ site.url }}{{ site.baseurl }}/offer" data-target="offer" class="nav-link text-white hover:bg-gray-600 px-3 py-2 rounded">Oferta</a>
            <a href="{{ site.url }}{{ site.baseurl }}/contact" data-target="contact" class="nav-link text-white hover:bg-gray-600 px-3 py-2 rounded">Kontakt</a>
            <a href="https://www.instagram.com/ctellakenio" target="_blank" rel="noopener noreferrer"> <!-- Instagram link -->
                <img src="{{ site.url }}{{ site.baseurl }}/assets/instagram-logo.png" alt="Instagram" class="h-8">
            </a>
        </div>
    </div>
</nav>