<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-white text-lg">Kateryna Khomych - instruktor fitness</div>
        <button class="text-white md:hidden" id="menu-toggle">☰</button> <!-- Hamburger Icon -->
        <div class="hidden md:flex space-x-4 items-center" id="menu">
            <a href="{{ site.url }}{{ site.baseurl }}/" data-target="index" class="nav-link text-white hover:bg-gray-600 px-3 py-2 rounded">O mnie</a>
            <a href="{{ site.url }}{{ site.baseurl }}/achievements" data-target="achievements" class="nav-link text-white hover:bg-gray-600 px-3 py-2 rounded">Osiągnięcia</a>
            <a href="{{ site.url }}{{ site.baseurl }}/offer" data-target="offer" class="nav-link text-white hover:bg-gray-600 px-3 py-2 rounded">Oferta</a>
            <a href="{{ site.url }}{{ site.baseurl }}/contact" data-target="contact" class="nav-link text-white hover:bg-gray-600 px-3 py-2 rounded">Kontakt</a>
            <a href="https://www.instagram.com/ctellakenio" target="_blank" rel="noopener noreferrer"> <!-- Instagram link -->
                <img src="{{ site.url }}{{ site.baseurl }}/assets/instagram-logo.png" alt="Instagram" class="h-8">
            </a>
        </div>
        <!-- <div class="hidden" id="mobile-menu">
            <a href="{{ site.url }}{{ site.baseurl }}/" class="block text-white hover:bg-gray-600 px-3 py-2 rounded">O mnie</a>
            <a href="{{ site.url }}{{ site.baseurl }}/achievements" class="block text-white hover:bg-gray-600 px-3 py-2 rounded">Osiągnięcia</a>
            <a href="{{ site.url }}{{ site.baseurl }}/offer" class="block text-white hover:bg-gray-600 px-3 py-2 rounded">Oferta</a>
            <a href="{{ site.url }}{{ site.baseurl }}/contact" class="block text-white hover:bg-gray-600 px-3 py-2 rounded">Kontakt</a>
            <a href="https://www.instagram.com/ctellakenio" target="_blank" rel="noopener noreferrer" class="block text-white hover:bg-gray-600 px-3 py-2 rounded">
                Instagram
            </a>
        </div>
    </div> -->
    <div class="mobile-menu hidden fixed inset-0 bg-black bg-opacity-50 z-50" id="mobile-menu">
        <div class="bg-white rounded-lg p-5 max-w-sm m-auto">
            <button class="close-menu text-black" id="close-menu">&times;</button>
            <a href="{{ site.url }}{{ site.baseurl }}/" class="block text-gray-800 hover:bg-gray-200 px-3 py-2 rounded">O mnie</a>
            <a href="{{ site.url }}{{ site.baseurl }}/achievements" class="block text-gray-800 hover:bg-gray-200 px-3 py-2 rounded">Osiągnięcia</a>
            <a href="{{ site.url }}{{ site.baseurl }}/offer" class="block text-gray-800 hover:bg-gray-200 px-3 py-2 rounded">Oferta</a>
            <a href="{{ site.url }}{{ site.baseurl }}/contact" class="block text-gray-800 hover:bg-gray-200 px-3 py-2 rounded">Kontakt</a>
            <a href="https://www.instagram.com/ctellakenio" target="_blank" rel="noopener noreferrer" class="block text-gray-800 hover:bg-gray-200 px-3 py-2 rounded">
                Instagram
            </a>
        </div>
    </div>
</nav>